
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a routerLink="dashboard" routerLinkActive="active" class="nav-link">
            <i class="fas fa-home"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="index" routerLinkActive="active" class="nav-link">
            <i class="far fa-hdd"></i>
            Index
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="inventory" routerLinkActive="active" class="nav-link">
            <i class="fas fa-warehouse"></i>
            Inventory
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="scheduler" routerLinkActive="active" class="nav-link">
            <i class="far fa-clock"></i>
            Scheduler
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="reports" routerLinkActive="active" class="nav-link">
            <i class="fas fa-chart-pie"></i>
            Reports
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="integration" routerLinkActive="active" class="nav-link">
            <i class="fas fa-network-wired"></i>
            Integrations
          </a>
        </li>
        <li class="nav-item">
            <a routerLink="settings" routerLinkActive="active" class="nav-link">
              <i class="fas fa-cogs"></i>
              Settings
            </a>
          </li>
      </ul>

      <!--
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Saved reports</span>
        <a class="d-flex align-items-center text-muted" href="#">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Current month
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Last quarter
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Social engagement
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <span data-feather="file-text"></span>
            Year-end sale
          </a>
        </li>
      </ul>
      -->
    </div>
  </nav>